[MESSAGES CONTROL]

#disable=locally-disabled,locally-enabled


[FORMAT]
max-line-length = 240


[REPORTS]

#reports=no

[MASTER]
#ignore=*_test.py
#ignore-patterns=*_test.py
init-hook='import sys; sys.path.append(".")